In [10]:
num_list = [86,27,9,5,43,3,4]
# print(sorted(num_list))
# print(max(num_list))
# print(min(num_list))
# num_list.index(4)
print(num_list.index(4))
3 in num_list

6

True

In [3]:
print("cat" != "cat")

False

In [6]:
print("cyan" < "yellow")

True

In [8]:
print(not 21 == "Answer")

True

In [11]:
x=0
while x<5:
    print("Not there yet, x=" + str(x))
    x+=1
    continue

Not there yet, x=0
Not there yet, x=1
Not there yet, x=2
Not there yet, x=3
Not there yet, x=4

In [8]:
for number in range(2,7+1):
    print(number*3, end=" ")
print()
print (7)

6 9 12 15 18 21
7

In [12]:
string = "example"
print(""+string*3)
print("x" in string)

exampleexampleexample
True

In [15]:
"Mountains".upper()
#"Mountains".lower()

'MOUNTAINS'

In [16]:
"Forest".isnumeric()
#"12345".isnumeric()

False

In [18]:
" ".join(["This", "is", "a", "phrase", "joined", "by", "spaces"])
"...".join(["This", "is", "a", "phrase", "joined", "by", "triple", "dots"])

'This...is...a...phrase...joined...by...triple...dots'

In [2]:
file_counts = {"jpg":10, "txt":14, "csv":2, "py":23}
file_counts.keys()
#file_counts.values()

dict_keys(['jpg', 'txt', 'csv', 'py'])

In [5]:
cool_beasts = {"octopuses":"tentacles", "dolphins":"fins", "rhinos":"horns"}
for key, value in cool_beasts.items():
    print("{} have {}".format(key, value))

octopuses have tentacles
dolphins have fins
rhinos have horns

In [13]:
animals = "lions tigers and bears"
animals.index("bears")

17

In [3]:
message = "A kong string with a silly typo"
new_message = message[0:2]
message.index("o")

3

In [8]:
wardrobe = {'shirt': ['red', 'blue', 'white'], 'jeans': ['blue', 'black']}
new_items = {'jeans': ['white'], 'scarf': ['yellow'], 'socks': ['black', 'brown']}
wardrobe.update(new_items)
print(wardrobe)

{'shirt': ['red', 'blue', 'white'], 'jeans': ['white'], 'scarf': ['yellow'], 'socks': ['black', 'brown']}

In [10]:
colors = ["red", "white", "blue"]
colors.insert(2, "yellow")
print(colors)

['red', 'white', 'yellow', 'blue']

In [11]:
teacher_names = {"Math": "Aniyah Cook", "Science": "Ines Bisset", "Engineering": "Wayne Branon"}
teacher_names.values()

dict_values(['Aniyah Cook', 'Ines Bisset', 'Wayne Branon'])

In [21]:
y88y8y8yttugjgjhjpets="Cats & Dogs"
sffffffffffffff
ffffffffffffffffyrteyrrtdrsdr
fffffffffffffff

3